html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;
  margin: 0;
  height: 240px;
  overflow: hidden;
  padding-bottom: 1em;
}

.robot {
  height: 250px;
  width: 320px;
  position: absolute;
  display: block;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  max-width: 45em;
}

.robot-head-left {
  position: absolute;
  left: 35px;
  top: 77px;
  display: inline-block;
}

.robot-body {
  width: 320px;
  position: absolute;
  left: 0;
  bottom: -50px;
  display: inline-block;
}

.robot-brain {
  width: 46px;
  position: absolute;
  display: inline-block;
  left: 140px;
  bottom: 50px;
}

.robot-head-right {
  position: absolute;
  display: inline-block;
  top: 77px;
  left: 160px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot:hover .robot-head-left {
  left: 0;
  top: 70px;
}

.robot:hover .robot-head-right {
  left: 195px;
  top: 70px;
}

.robot:hover .robot-brain {
  left: 140px;
  bottom: 70px;
}
